.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #165239;
}

h1 {
  margin: 30px;
  font-family: 'Roboto slab', serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #e3dc10;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

/* img {
  width: 80%;
} */

.img1
{
  width: 120%;
  height: 120%;
}
.img2
{
  width: 60%;
  height: 60%;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
